*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.flex-section{
    width: 100%;
    padding: 80px 0px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.flex-box{
    border: 3px solid black;
    display: flex;
    justify-content: flex-end;
    height: 60vh;
    align-items: flex-end;
    font-weight: 700;
    
}

.box1,.box2,.box3{
    width: 120px;
    height: 120px;
    background:darkcyan;
    margin: 10px;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 120px;
}

.shadow-section{
    width: 100;
    padding: 80px 0px;
    justify-content: center;
    text-align: center;
    display: flex;

}
.shadow-section .box{
    width: 200px;
    height: 250px;
    text-align: center;
    margin-left: 55px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    text-decoration:dashed;

    
}

.shadow-section .box i{
    font-size: 50px;
}




ul li{
    list-style-type:none;
}





.social-icons{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

.social-icons ul{
    margin: 0;
    padding: 0;
}

.social-icons ul li{

      list-style-type: none;
      display: inline-block;
      margin-right: 10px;
      width: 40px;
        height: 40px;
        background: rgb(18, 99, 99);
        color: black; 
        line-height: 40px; 
        -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border-radius: 100px; 
            transition: 0.4s;    
}



.social-icons ul li:hover{
            background: #000;
            color: white;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;
            border-radius: 100px;
           transition: 0.4s;
            
}

.social-icons ul li a i{
    color: white;
    font-size: 18px;
}
            
            
    
